Repository yoonholee/yoonholee.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: bibtex-check, build-cv

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '_bibliography/.*\.bib$|CV/tmp/.*\.(aux|log)$'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '_config\.yml' # Jekyll uses non-standard YAML
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Prettier for code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [javascript, json, markdown, yaml]
        exclude: "^(_site/|vendor/|node_modules/|_bibliography/)"
        args: ["--config", ".prettierrc"]

  # Stylelint for CSS/SCSS
  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v16.10.0
    hooks:
      - id: stylelint
        files: \.(css|scss)$
        args: ["--fix"]
        additional_dependencies:
          - "stylelint@^16.10.0"
          - "stylelint-config-standard-scss@^13.1.0"
          - "postcss@^8.4.47"

  # ESLint for JavaScript
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.14.0
    hooks:
      - id: eslint
        files: \.(js)$
        args: ["--fix"]
        additional_dependencies:
          - "eslint@^9.14.0"
          - "@eslint/js@^9.14.0"
          - "globals@^15.12.0"

  # BibTeX validation (optional but recommended)
  - repo: local
    hooks:
      - id: bibtex-check
        name: Check BibTeX syntax
        entry: bash -c 'bibtex -terse _bibliography/papers.bib || true'
        language: system
        files: '\.bib$'
        pass_filenames: false

      # Build CV when LaTeX files change
      - id: build-cv
        name: Build CV PDF
        entry: bash -c 'cd CV && xelatex -interaction=nonstopmode -output-directory=tmp main.tex > /dev/null 2>&1 && git add tmp/main.pdf'
        language: system
        files: '^CV/.*\.tex$'
        pass_filenames: false

improve CV, add unlisted page
  .gitignore
  CV/awesome-cv.cls
  CV/cv/honors.tex
  CV/cv/publications.tex
  CV/cv/service.tex
  CV/fontawesome.sty
  CV/fonts/FontAwesome.ttf
  CV/fonts/Roboto-Bold.ttf
  CV/fonts/Roboto-BoldItalic.ttf
  CV/fonts/Roboto-Italic.ttf
  CV/fonts/Roboto-Light.ttf
  CV/fonts/Roboto-LightItalic.ttf
  CV/fonts/Roboto-Medium.ttf
  CV/fonts/Roboto-MediumItalic.ttf
  CV/fonts/Roboto-Regular.ttf
  CV/fonts/Roboto-Thin.ttf
  CV/fonts/Roboto-ThinItalic.ttf
  CV/icons/envelope.pdf
  CV/icons/envelope.svg
  CV/icons/graduation-cap.pdf
  CV/icons/graduation-cap.svg
  CV/icons/home.pdf
  CV/icons/home.svg
  CV/main.pdf
  CV/main.tex
  CV/tmp/main.pdf
  _bibliography/papers.bib
  _config.yml
  _includes/head.html
  _layouts/unlisted.html
  _pages/about.md
  _pages/publications.md
  _pages/unlisted.md
  _unlisted/example.md
  assets/css/syntax/dark.css
  assets/css/syntax/light.css
  assets/css/unlisted.css
Due: bibtex-check, build-cv

fix: replace ImageMagick cache action with explicit apt install
  .github/workflows/deploy.yml
Due: none

fix: update test workflow for ImageMagick and npm
  .github/workflows/test.yml
Due: none

fix: remove unused variables in JavaScript files
  assets/js/skeleton.js
  assets/js/web-vitals.js
Due: none

add feedback descent blog post
  _includes/head.html
  _includes/header.html
  _includes/scripts/littlefoot.html
  _includes/scripts/mathjax.html
  _layouts/default.html
  _layouts/post.html
  _posts/2025-01-01-story.md
  _posts/2025-01-02-markdown-demo.md
  _posts/2025-11-25-feedback-descent.md
  _sass/_base.scss
  _sass/_toc.scss
  assets/img/feedback-descent/PPARA-compressed.mp4
  assets/img/feedback-descent/cake.png
  assets/img/feedback-descent/molecule.png
  assets/img/feedback-descent/prompt_optimization.png
  assets/img/feedback-descent/svg_grid.png
  assets/img/feedback-descent/svg_progression.png
  assets/img/feedback-descent/system.png
  assets/js/toc.js
Due: none

bug fix + blog post update
  _bibliography/papers.bib
  _posts/2025-11-25-feedback-descent.md
Due: bibtex-check

Update about page: final-year PhD, streamline intro and contact
  _pages/about.md
Due: none

Update CLAUDE.md and CV
  CLAUDE.md
  CV/main.tex
  CV/tmp/main.pdf
  _unlisted/example.md
Due: build-cv

Update CV fellowship stats and rewrite research description
  CV/main.tex
  CV/tmp/main.pdf
  _pages/about.md
Due: build-cv

Refactor codebase for better Claude Code navigability
  .githooks/pre-commit
  .node-version
  CLAUDE.md
  _includes/figure.html
  _includes/scripts.html
  _includes/scripts/bootstrap.html
  _includes/scripts/jquery.html
  _includes/scripts/littlefoot.html
  _includes/scripts/misc.html
  _layouts/bib.html
  _layouts/default.html
  _sass/_about.scss
  _sass/_base.scss
  _sass/_blog.scss
  _sass/_components.scss
  _sass/_distill.scss
  _sass/_layout.scss
  _sass/_navigation.scss
  _sass/_publications.scss
  _sass/_themes.scss
  _sass/_toc.scss
  _sass/_typography.scss
  _sass/_variables.scss
  assets/css/main.scss
  assets/js/common.js
  assets/js/performance.js
  assets/js/toc.js
Due: none

Update RLAD paper: accepted to ICLR 2026
  _bibliography/papers.bib
  _pages/about.md
Due: bibtex-check

Auto-calculate year range on publications page
  _pages/publications.md
Due: none

Update RLAD paper: add ICLR 2026 and workshop versions
  _bibliography/papers.bib
Due: bibtex-check
